<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solutioneers</title>

    <!--begin fullpage dependencies-->
    @Styles.Render("~/Content/jquery.fullPage.css")
    @Styles.Render("~/Content/headersheet.css")
    <!--[if IE]>
        <script type="text/javascript">
             var console = { log: function() {} };
        </script>
    <![endif]-->
    @Scripts.Render("~/Scripts/SnapScr/jquery.min.js")
    @Scripts.Render("~/Scripts/SnapScr/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/SnapScr/jquery.fullPage.js")
    @Scripts.Render("~/Scripts/SnapScr/examples.js")
    @Scripts.Render("~/Scripts/SnapScr/FullPageConfig.js")
    <!--end fullpage dependancies-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")





</head>
<body>
    <!-- following is the nav bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Solutioneers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="height: 80vh"> <!--1. We need to make this 30vh a variable that will change based on screen size. responsive stuff dawgs
                                                                             2. we need to be able to scroll down if the row is larger than alloted size.
                                                                             3. We need a preview of the bottom snap shop
                                                                             -->
        @RenderBody()
    </div>

    <footer id="footer">
        <p>&copy; @DateTime.Now.Year - Solutioneers</p>
    </footer>
    

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>