<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solutioneers</title>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/Ang_Scripts/StudentClient.js")




</head>
<body ng-app="StudentApp">
    <!-- following is the nav bar-->
    <div id="nav-top">
        <div class="row">
            <div class="logo row">
                <img src="~/img/logo.png" />
                <div class="breadcrumb">
                    <span class="pull-left" style="font-weight:400; font-size:14px;">&nbsp;/ CHANNELS</span>
                    <span class="pull-left" style="color: #5fa6d1; font-weight:400; font-size:14px;">/ Solutioneers</span>
                </div>
            </div>
            <div class="notifications row">
                <a class="btn btn-link">Channels</a>
                <a class="btn btn-link">Messages</a>
            </div>
            <div class="userbar row">
                <a class="btn btn-link">Username</a>
                <div class="frame frame-circle frame-size-small">
                    <img src="http://lorempixel.com/36/36/cats" />
                </div>
            </div>
        </div>
    </div>

    <div snapscroll style="height: 88vh">
        @RenderBody()
    </div>

    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Solutioneers</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Ang_Scripts/angular-snapscroll.js")
    @RenderSection("scripts", required: false)
</body>
</html>
