<<<<<<< HEAD:Solutioneers/Views/Shared/BusinessCategoryPartial.cshtml
﻿@model IEnumerable<Solutioneers.Models.BusinessCategory>

<p>
    @Html.ActionLink("Create New", "../BusinessCategories/Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusinessCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusinessCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessCategoryID })
        </td>
    </tr>
}

</table>
=======
﻿@model IEnumerable<Solutioneers.Models.BusinessCategory>

<div class="row">
    <div class="column-20">
        test
    </div>
    <div class="column-80">
        <div>
            <!-- Help ! -->
            @Html.ActionLink("Want to add your business? Click here to get started", "../BusinessCategories/Create")
        </div>
        <div class="row well">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
            @Html.DisplayNameFor(model => model.Title)
            @Html.DisplayNameFor(model => model.Description)
        </div>
    </div>
</div>

@foreach (var item in Model) {

            @Html.DisplayFor(modelItem => item.Company.CompanyName)

            @Html.DisplayFor(modelItem => item.Title)

            @Html.DisplayFor(modelItem => item.Description)

            @Html.ActionLink("Edit", "Edit", new { id=item.BusinessCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusinessCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusinessCategoryID })
}
>>>>>>> dc8ff170db730e04fb51545548b55286274688bf:Solutioneers/Views/Shared/BusinessCategoryListPartial.cshtml
