@model IEnumerable<Solutioneers.Models.BusinessCategory>
<div class="row">
    <div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }

    </table>
</div>
<div id="CategoryIdeas">
    @if (Model.Any())
    {
        @Html.Partial("BusinessIdeaListPartial", Model.First().Ideas);
    }
</div>
</div>