@model Solutioneers.Models.IdeaVote

@using (Html.BeginForm(ViewContext.RouteData.Values.GetRequiredString("action"), ViewContext.RouteData.Values.GetRequiredString("controller")))
{
                @Html.AntiForgeryToken()

                < div class="form-horizontal">
        <h4>IdeaVote</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VoteID)
        <div class="form-group">
            @Html.LabelFor(model => model.upVote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.upVote)
                    @Html.ValidationMessageFor(model => model.upVote, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type = "submit" value="Vote" class="btn btn-default" />
            </div>
        </div>
    </div>
}
