@model Solutioneers.Models.CategoryToChannel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div class="col">
        <h4>Category</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Description)
            </dd>

          <!--   We are passing the category ID-->
        </dl>

        @Html.ActionLink("Create a new Channel", "../channels/create");

    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Channel.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Channel.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Channel.Votes)
                </th>
                <th></th>
            </tr>
            @if (Model.Channels != null)
            {
                foreach (var item in Model.Channels)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CastThis.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CastThis.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CastThis.Votes.Count)
                    </td>
                    <td>
             <!--           ////Html.Action("Vote", "ChannelVotesController", new {area = "", theUpVote = true, id = Model.Channel.ChannelID, channelID = Model.Channel.ChannelID, userName = User.Identity.Name }) |
                        <form method="post" action="/ChannelVotesController/vote/">
                            <input type="submit" value="Up Vote" />
                        </form>
                        <form method="post" action="/ChannelVotesController/vote/">
                            <input type="submit" value="Down Vote" />
                        </form>-
                  //Html.Action("Vote", "ChannelVotesController/Vote", new { }) |-->
                        @Html.ActionLink("Edit", "Edit", new { id = item.CastThis.ChannelID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CastThis.ChannelID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CastThis.ChannelID })
                    </td>
                </tr>
                }
            }

        </table>
</div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Category.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


