@model IEnumerable<Solutioneers.Models.Company>

@{
    ViewBag.Title = "Index";
}

<div id="nav-top">
    <div class="row">
        <div class="row logo">
            @Html.ActionLink("Solutioneers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="row notifications">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Categories", "Index", "Categories")
            @Html.ActionLink("Channels", "Index", "Channels")
            @Html.ActionLink("About", "About", "Home")
            @Html.ActionLink("Contact", "Contact", "Home")
        </div>
        <div class="row userbar">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div id="ParentPartialID">
    @Html.Partial("SplashPagePartial", @Model)
</div>
